
<div class="center hero-unit">
  <h1>Welcome to our Amazing Vegan Cooking Blog!</h1>

	<h2>
    	This is the best vegan cooking blog ever, and we made it entirely by ourselves!
	</h2>
	<a>

		<%= link_to raw("<i class=\"icon-beaker icon-white\"> Click me to see the recipes!!!</i>"), index_path, class: "btn btn-large btn-primary" 
		%> 
	</a>
</div>


